# These need to be set for the tests to run properly.
# You need to create a .env.test and set these properly:
#MOJACO_MYSQL_USER=
#MOJACO_MYSQL_PASSWORD=
#MOJACO_POSTGRESQL_USER=
#MOJACO_POSTGRESQL_PASSWORD=
